.item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 140px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}