@import "index";
@import "Navbar";
@import "ItemDetailContainer";
@import "ItemDetail";
@import "ItemList";
@import "Item";
@import "ItemCount";
@import "CartWidget";
@import "CartViewModal";
@import "cartViewPayment";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}