* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background: #09184f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.navbar .nav-logo {
  margin-right: auto;
  margin-left: 1.5em;
  cursor: pointer;
}

.navbar .nav-logo .logo {
  width: 60px;
}

.navbar .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin: 1.2em;
}

.navbar .nav-list .item {
  color: #ffca0a;
  text-decoration: none;
  margin: 1rem;
}

.fa-shopping-cart {
  margin-right: 0.5em;
  color: #ffca0a;
  cursor: pointer;
}

#btn-carrito {
  background: transparent;
  border: none;
}

#counter {
  position: absolute;
  color: #ffca0a;
  top: 20px;
  right: 15px;
}

.container-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 8rem auto 2rem auto;
  font-family: Noto sans, sans-serif;
  font-weight: 400;
  max-width: 1366px;
}

.container-articles img {
  width: 100%;
  margin: auto;
  padding: 10px;
}

.card-description {
  font-size: 12px;
  color: #3d3d3d;
}

.container-title {
  width: 100%;
  text-align: center;
}

.card {
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
}

.card:hover {
  -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.sub-card {
  padding: 20px 15px 10px 15px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.sub-card h1 {
  text-align: center;
}

.card-title {
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.card-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
}

.card-price-monto {
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  padding: 10px 0;
  color: #09184f;
  font-weight: 600;
}

.addTest {
  font-size: .8rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  border-style: none;
  border-radius: 30px;
  background-color: #09184f;
  color: #fff;
  padding: 0.7rem 0;
  letter-spacing: 2px;
  display: block;
  width: 180px;
  margin: 0.6rem auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.counter .btn-counter {
  font-size: .8rem;
  font-weight: 600;
  border-style: none;
  border-radius: 30px;
  background-color: #09184f;
  color: #fff;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
/*# sourceMappingURL=App.css.map */